* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: auto;
  background: black;
  max-width: 390px;
  margin: auto;
  font-family: 'Hind', sans-serif;
}

.burger {
  position: absolute;
  top: 20px;
  margin-left: 335px;
}

.burger div {
  width: 25px;
  height: 3px;
  background: rgb(237, 237, 237);
  margin: 6px;
}

main {
  width: 390px;
  background: url(pics/background.jpeg);
}

.main {
  height: 390px;
  width: 390px;
  background: url(pics/Video.mp4) no-repeat;
  background-size: cover;
  animation: FadeIn 2s;
}

@keyframes FadeIn {
  0% {
    background: black;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  color: rgb(237, 237, 237);
  padding: 30px;
  text-shadow: 5px 5px 20px black;
  animation: TextFadeIn 2s;
}

@keyframes TextFadeIn {
  0% {
    transform: translateY(-20px);
  }

}

.title p {
  font-weight: 400;
}


h1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
}

h2 {
  margin: 20px 0 20px 0;
  font-weight: 400;
}

section {
  color: rgb(42, 58, 78);
  font-weight: 400;
}

.gym-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 20px;
}

.ticket-info {
  margin: 20px;
}

.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-section a {
  background: rgb(215, 82, 82);
  color: rgb(237, 237, 237);
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 10px;
}

.heading1 {
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(42, 58, 78);
  font-size: 18px;
  font-weight: bold;
}

.section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  overflow-x: scroll;
  gap: 3.3rem;
  padding: 15px;
}

.section::-webkit-scrollbar {
  display: none;
}

.schedule-container {
  background: rgb(17, 24, 31);
  height: 100px;
  width: 150px;
  padding: 8px;
  border-radius: 8px;
  color: rgb(237, 237, 237);
  display: grid;
  grid-auto-rows: 1fr 2fr;
  text-align: center;
  align-items: center;
  font-size: 15px;
}

.time {
  font-size: 18px;
  margin-bottom: 5px;
}

.guest-container p {
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(42, 58, 78);
}

.guest-container img {
  height: 150px;
  width: 150px;
  padding: 8px;
  border-radius: 50%;
}

.message {
  background: rgb(42, 58, 78);
  color: rgb(237, 237, 237);
  font-weight: 100;
  font-size: 15px;
  /* text-shadow: 5px 5px 20px black; */
  padding: 30px 20px;
}

footer {
  height: 90px;
  background: rgb(42, 58, 78);
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 35px 0 25px;
}

footer ul {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer img {
  width: 30px;
}
